body {
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

header {
  text-align: center;
  color: #fff;
}

figure {
  text-align: center;
  margin-top: 60px;
}

button {
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #2D9CDB;
  color: #fff;
  font-weight: bold;


}